@font-face {
  font-family: 'Alpha Brights';
  src: URL('Alpha Brights.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: .9vw;
}

.phone-booth {
    background-color: #801818;
    width: 320px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.phone-booth-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    color: white;
    background: blue;
    border-radius: 5px;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px Black inset;
}

.hacked {
    background: darkorchid;
}

.blue-box {
    background-color: #6699cc;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.blue-box-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px;
    width: 100%;
}

.key {
    background-color: #444;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.1s ease;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.key:hover {
    background-color: #555;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.key:active {
    background-color: #666;
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.note {
    font-family: "Alpha Brights";
    font-size: 1.2em;
    text-align: center;
    transform:rotate(-4deg);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
}

/* Key press animation */
@keyframes pressAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

.key:active {
    animation: pressAnimation 0.1s forwards;
}

